.div {
  position: relative;
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-image: url('/assets/plan/mobile/image-hero-blackcup.jpg');
  background-repeat: repeat;
  background-position: right top;
  background-size: cover;
}

@media (min-width: 768px) {
  .div {
    background-image: url('/assets/plan/desktop/image-hero-blackcup.jpg');
  }
}
