<div class="w-full p-6 mx-auto bg-[#343e4c] my-4 text-white rounded-lg md:px-16">
  <h3 class="font-thin my-2 opacity-40 ">ORDER SUMMARY</h3>
  <p class="text-xl font-extrabold ">
    "I drink my coffe using
    <span class="textCian">{{
      getTitleById("brewMethod", orderStateList().brewMethod) || "_____"
    }}</span
    >, with a
    <span class="textCian">{{
      getTitleById("beanType", orderStateList().beanType) || "_____"
    }}</span>
    type of bean.
    <span class="textCian">{{
      getTitleById("bagSize", orderStateList().bagSize) || "_____"
    }}</span>
    sent to me
    <span class="textCian">{{
      getTitleById("delivery", orderStateList().delivery) || "_____"
    }}</span>
    "
  </p>
</div>
