<div class="bg-[#343e4c] py-2">
  @for (item of step(); track $index) {
    <step-card [stepItem]="item"/>
  }
</div>


<!--
linea con circulos

<div class="relative w-full my-8">
  <div class="absolute inset-x-0 top-1/2 h-px bg-gray-400/60"></div>
  <div class="relative z-10 flex justify-between px-4">
    <span class="w-4 h-4 border-2 border-gray-400 rounded-full"></span>
    <span class="w-4 h-4 border-2 border-gray-400 rounded-full"></span>
    <span class="w-4 h-4 border-2 border-gray-400 rounded-full"></span>
  </div> -->
