<div
  class="div "
>
  <div class="relative z-10  p-6 text-white text-center lg:text-left md:ml-16 md:max-w-md">
    <h1 class="text-3xl font-black mb-4 leading-tight md:text-5xl">Great coffee
made simple.</h1>
    <p
      class="text-xs leading-5 opacity-75 text-[13px] tracking-wider font-light  mb-10 font-poppins md:w-full"
    >
      Start your mornings with the world’s best coffees. Try our expertly curated artisan coffees from our best roasters delivered directly to your door, at your schedule.
    </p>
    <app-button-create-plan ></app-button-create-plan>
  </div>


</div>
