.hero {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
