<div class="bg-[#343e4c] flex flex-col items-center gap-6 py-6 my-8">
  <img
    src="/assets/shared/desktop/logofooter.svg"
    alt="logo coffeeroasters"
    class="h-5"
  />
  <div class="text-gray-400 text-[13px] flex justify-between w-10/12 items-center">
    <a href="">HOME</a>
    <a href="">ABOUT US</a>
    <a href="">CREATE YOUR PLAN </a>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <img src="/assets/shared/desktop/icon-facebook.svg" alt="Facebook" class="h-5" />
    <img src="/assets/shared/desktop/icon-twitter.svg" alt="Twitter" class="h-5" />
    <img src="/assets/shared/desktop/icon-instagram.svg" alt="Instagram" class="h-5" />
  </div>
</div>
