<div
  class="bg-[#343e4c] flex flex-col items-center gap-6 py-6 my-8 md:flex-row md:justify-between md:p-12"
>
  <img
    src="/assets/shared/desktop/logofooter.svg"
    alt="logo coffeeroasters"
    class="h-5 md:h-8"
  />
  <div
    class="text-gray-400 text-[13px] flex justify-between w-10/12 items-center md:justify-center md:gap-8 md:text-sm"
  >
    <a routerLink="/home">HOME</a>
    <a routerLink="/about-us">ABOUT US</a>
    <a routerLink="/create-plan">CREATE YOUR PLAN </a>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <img
      src="/assets/shared/desktop/icon-facebook.svg"
      alt="Facebook"
      class="h-5 md:h-8"
    />
    <img
      src="/assets/shared/desktop/icon-twitter.svg"
      alt="Twitter"
      class="h-5 md:h-8"
    />
    <img
      src="/assets/shared/desktop/icon-instagram.svg"
      alt="Instagram"
      class="h-5 md:h-8"
    />
  </div>
</div>
