<header class="fixed top-0 left-0 w-full z-50 h-16 bg-white ">
  <div class="flex justify-between items-center h-full w-[90%] mx-auto">
    <img src="/assets/shared/desktop/logo.svg" alt="logo coffeeroasters" />

    <button (click)="toggleMenu()" class="md:hidden border-none">
      @if(!menuOpen()){<img
        class="burguerMenuIcon"
        src="/assets/shared/mobile/icon-hamburger.svg"
        alt="Menu"
      />}@else {<img
        class="burguerMenu"
        src="/assets/shared/mobile/icon-close.svg"
        alt="Close menu"
      />}
    </button>

    <nav
      class="hidden md:flex gap-6 whitespace-nowrap text-gray-500 font-semibold text-xs"
    >
      <a href="#">HOME</a>
      <a href="#">ABOUT US</a>
      <a href="#">CREATE YOU PLAN</a>
    </nav>
  </div>
</header>

@if(menuOpen()){
<nav
  class="fixed top-16 w-screen h-screen left-0 z-40 bg-white/90 flex flex-col text-center gap-4 font-bold"
>
  <a href="#">Home</a>
  <a href="#">About Us</a>
  <a href="#">Create Your Plan</a>
</nav>
}
