.option-card {
  @apply p-4 h-full rounded cursor-pointer transition-colors;
  background-color: #E1DDDA;
}

.option-card.selected {
  background-color: #0E8684;
  color: white;
}

details summary img {
  transition: transform 0.3s;
}

details[open] summary img {
  transform: rotate(180deg);
}
