<div class="bg-white py-6 w-full">
  @for (item of stepForContent(); track item.orderState) {
  <details
    class="mb-6"
    [open]="this.wizardService.currentStep() === item.stepNumber"
    (toggle)="onToggle(item.stepNumber, $event)"
  >
    <summary
      class="text-gray-500 font-extrabold list-none flex flex-row justify-between items-center"
    >
      <h2 class="w-10/12 text-xl  tracking-wide md:text-3xl">{{ item.stepTitle }}</h2>
      <img
        src="assets/plan/desktop/icon-arrow.svg"
        class="w-4 transition-transform"
      />
    </summary>

    <fieldset class=" grid gap-3 py-2 md:grid-cols-3  items-stretch">
      @for (option of item.stepOptions; track option.stepOptionId) {
      <div
        class="option-card "
        [class.selected]="
          coffeePlanService.orderState()[item.orderState] ===
          option.stepOptionId
        "
        (click)="selectedId(item.orderState, option.stepOptionId)"

      >
        <p class="font-bold text-sm mb-2 md:text-base">{{ option.stepOptionTitle }}</p>
        <p class="text-xs font-light opacity-90 md">
          {{ option.stepOptionDescribe }}
        </p>
      </div>
      }
    </fieldset>
  </details>
  }
</div>
