<div class="py-6">
  @for (item of stepForItem(); track $index) {

  <div
    class="flex flex-row gap-4 items-center border-t-2 first:border-none"
    (click)="selectStep(item.stepNumber)"
    [class.opacity-50]="coffeePlanService.lastOpenedStep() !== item.stepNumber"
    [class.grayscale]="coffeePlanService.lastOpenedStep() !== item.stepNumber"
  >
    <span class="text-[#0E8684] font-extrabold text-sm">{{
      item.stepNumber
    }}</span>
    <h2 class="font-extrabold text-base text-[#343e4c]">
      {{ item.stepLabel }}
    </h2>
  </div>

  }
</div>
