<section
  class="grid grid-cols-1 mx-auto justify-self-end md:grid-cols-3 md:w-11/12"
>
  <div class="w-full justify-start">
    <step-item [stepForItem]="steps" />
  </div>
  <div class="w-full md:col-span-2">
    <step-content [stepForContent]="steps" />
    <step-summary
      ><h3 title class="font-thin my-2 opacity-40">
        ORDER SUMMARY
      </h3></step-summary
    >
    <div class="justify-self-end mb-4">
      <button-create-plan
        [disabled]="disabled()"
        (click)="openModal()"
      ></button-create-plan>
    </div>
  </div>
  @if(showModal()){<modal (close)="closeModal()">
    <!-- <step-summary></step-summary> -->
    </modal
  >}
</section>
