<section class=" py-16 md:rounded-xl md:mx-auto md:max-w-5xl">

  <div class="bg-[#343e4c] text-center text-white mb-12 px-5 pt-10 pb-48 rounded-lg ">
    <h2 class="text-3xl md:text-4xl font-fraunces font-black mb-6 px-3">
      Why choose us?
    </h2>
    <p class="font-poppins font-light max-w-screen-md mx-auto text-sm md:text-base">
      A large part of our role is choosing which particular coffees will be featured
      in our range. This means working closely with the best coffee growers to give
      you a more impactful experience on every level.
    </p>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-3 gap-6  w-10/12 mx-auto -mt-44">
    @for (benefit of benefits; track $index) {
      <div class="bg-[#0e8684] rounded-lg p-4 flex flex-col items-center text-center w-full  ">
        <div class=" rounded-full p-4 mb-6">
          <img
            [src]="benefit.icon"
            [alt]="benefit.title"
            class="w-12 h-12"
          />
        </div>
        <h3 class="text-xl font-fraunces font-bold text-white mb-4">
          {{ benefit.title }}
        </h3>
        <p class="font-poppins font-light text-white text-sm">
          {{ benefit.description }}
        </p>
      </div>
    }
  </div>
</section>
